body {
    font-family: "Atkinson Hyperlegible Next";
}

#title-header {
    font-family: "Montserrat";
    font-weight: 400;
}

body {
    background-image: url("./media/earthquake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    background: white;
    border-radius: 16px;
}

footer > * {
    background: white;
    border-radius: 16px 16px 0 0;
}
